* {
	box-sizing: border-box;
	color: #333333;
}

body {
	background-color: #999967;
}

#image {
	display: block;
	margin: auto;
	max-width: 700px;
	width: 50%;
}

#img-caption {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	margin: 10px 0 50px;
	text-align: center;
}

#main {
	background-color: #f4f4f4;
	border: 5px double #cccc9a;
	margin: 5vh 5vw;
	padding: 5vh 5vw;
	width: 90vw;
}

#title {
	font-family: 'Comfortaa', cursive;
	font-size: 80px;
	text-align: center;
}

#tribute-info {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	line-height: 36px;
}
